<nav class="navbar navbar-default navbar-fixed-top" style="padding-bottom:7px;">
  <div class="container-fluid">
    <a class="navbar-brand" <%= link_to 'Index', motorbikes_path %></a>
    <a class="navbar-brand" <%= link_to 'New', 'motorbikes/new'%></a>
  </div>
</nav>
